@import "tailwindcss";
@plugin "daisyui";

html {
  overflow-y: scroll;
}

nav ul .active {
  color: #FB8C00;
}

html[data-theme="light"] {
  --color-primary: white;
  --color-secondary: #white;
  --color-accent: #fafafa;
  --color-neutral: rgba(180, 180, 180, 0.6);
  --color-base: #ffffff;
  --color-text: #111827;
  --color-btn-primary: black;
}

html[data-theme="dark"] {
  --color-primary: #202531;
  --color-secondary: #1C1F2A;
  --color-accent: #202531;
  --color-neutral: rgba(255, 255, 255, 0.6);
  --color-base: #ffffff;
  --color-text: #111827;
  --color-btn-primary: white;
}

body{
  transition: background-color 1s ease;
  background: var(--color-accent);
}